@import "./variables";

@media screen and (min-width: 768px) {
  .home {
    &-img {
      width: 320px;
    }
    &-title {
      font-size: 256px;
      top: -64px;
    }
    &-social {
      top: 0;
      bottom: 0;
      align-content: center;
      margin-top: -5px;
    }
    &-social-text {
      font-size: 16px;
    }

    &-social-links {
      margin-left: 26px;
    }
  }
  .sponsor-container {
    grid-template-columns: repeat(4, max-content) !important;
  }
}

@media screen and (min-width: 1150px) {
  .container {
    margin-inline: auto;
  }
  .section {
    padding-block: 128px 32px;
  }
  .home {
    &-img {
      width: 500px;
    }
    &-title {
      font-size: 25rem;
      top: -8px;
      column-gap: 16px;
    }
    &-tooltip-img {
      width: initial;
    }
    &-tooltip-text {
      font-size: $normal-font-size;
      transform: translate(82px, -52px);
    }
    &-social {
      margin-right: 5px;
    }

    &-social-links {
      row-gap: 16px;
    }
    &-social-link {
      font-size: 24px;
    }
  }

  // ! About
  .about {
    &-container {
      grid-template-columns: 400px 500px;
    }
    &-img {
      width: 500px !important;
    }
  }

  .about,
  .section-title,
  .about-description {
    text-align: initial;
  }
  // ! model
  .model-img {
    width: 600px !important;
  }
  .model-tooltip {
    img {
      width: initial !important;
    }
  }
  .model-tooltip-text {
    font-size: $normal-font-size !important;
    transform: translate(82px, -56px);
    padding: 8px;
  }
  .model-tooltip-1 {
    top: 160px !important;
    left: 13rem !important;
  }
}

.model-tooltip-3 {
  left: 400px !important;
  bottom: 150px !important;
}
